List

In [2]:
l = [ 'shivam', 25, 'manish', 24 , 4, 45]

In [3]:
type(l)

list

In [4]:
l[2]

'manish'

In [6]:
l[2].title()

'Manish'

In [7]:
l[-4]

'manish'

My name is Manish Jaiswal

In [3]:
l[3]=25

In [4]:
l

['shivam', 25, 'manish', 25, 4, 45]

In [10]:
l.append('It skills') # Adding an element in the list

In [11]:
l

['shivam', 25, 'manish', 25, 4, 45, 'It skills']

In [21]:
e =[] #empty list

In [22]:
e.append('name')

In [23]:
e

['name']

In [16]:
l

['shivam', 25, 'manish', 25, 4, 45, 'It skills']

In [17]:
l.pop(3)

25

In [18]:
l.pop()

'It skills'

In [19]:
l

['shivam', 25, 'manish', 4, 45]

In [17]:
l.insert(4,67)

In [18]:
l

['shivam', 22, 25, 22, 67, 'manish', 25, 22, 4, 45, 22]

In [24]:
del e

In [25]:
e

NameError: name 'e' is not defined

In [24]:
del l[4]

In [25]:
l

['shivam', 22, 25, 'manish', 45]

In [26]:
l.remove( 45)

In [27]:
l

['shivam', 22, 25, 'manish']

In [28]:
l.reverse()

In [29]:
l

['manish', 25, 22, 'shivam']

In [30]:
a = [ 23,4,67,5454,5]

In [31]:
a.sort()

In [32]:
a

[4, 5, 23, 67, 5454]

In [33]:
l [ 1:4]

[25, 22, 'shivam']

In [34]:
a1 = ['kkrh', 'ssrt', 'ertd', 'ghtf']

In [35]:
a2 = [ 'visison', 'right']

In [36]:
a1.extend(a2)

In [37]:
a1

['kkrh', 'ssrt', 'ertd', 'ghtf', 'visison', 'right']

In [38]:
a1.append(a2)

In [39]:
a1 # nested list

['kkrh', 'ssrt', 'ertd', 'ghtf', 'visison', 'right', ['visison', 'right']]

In [40]:
l = [6,8,9,12,6,8,3,6]

In [41]:
l.count(6)

3

In [42]:
l.index(8)

1

In [44]:
#tuple

In [45]:
t =()

In [46]:
type(t)

tuple

In [47]:
t = (34, 'shivam', 67, 'singh',78, 12)

In [48]:
len(t)

6

In [26]:
o1 = ('kishan', 'delhi', 'vns')
o2 = ('vis', 'sad')

In [27]:
o1+ o2

('kishan', 'delhi', 'vns', 'vis', 'sad')

In [31]:
id(delhi)

NameError: name 'delhi' is not defined

In [53]:
o1[1]

'delhi'

In [54]:
id (o1[1]) #adaddress of delhi

1936077701040

Dictionary

In [55]:
d = {'NAME ': 'Shivam', 'age': 24, 'rank': 43}

In [56]:
d.keys()

dict_keys(['NAME ', 'age', 'rank'])

In [57]:
d.values()

dict_values(['Shivam', 24, 43])

In [58]:
d['age']

24

In [59]:
del d['rank']

In [60]:
d['age'] =23   #updating the value in dictionary

In [61]:
d

{'NAME ': 'Shivam', 'age': 23}

In [62]:
d ['marks']= 56

In [63]:
d

{'NAME ': 'Shivam', 'age': 23, 'marks': 56}

In [64]:
len(d)

3

In [65]:
str(d)

"{'NAME ': 'Shivam', 'age': 23, 'marks': 56}"

In [66]:
d

{'NAME ': 'Shivam', 'age': 23, 'marks': 56}

In [67]:
list(d)

['NAME ', 'age', 'marks']

In [68]:
d

{'NAME ': 'Shivam', 'age': 23, 'marks': 56}

In [71]:
a1 ={'name': 'shivam', 'age':23 , 'Marks':33}

In [ ]:
##

In [72]:
a2 = a1.copy()

In [73]:
a2

{'name': 'shivam', 'age': 23, 'Marks': 33}

In [74]:
a1.get('name')

'shivam'

In [34]:
p1= {'name': 'manish', 'age' :21}

In [32]:
p2= {'class': 'python', 'date':'15dec'}

In [35]:
p1.update(p2)

In [36]:
p1

{'name': 'manish', 'age': 21, 'class': 'python', 'date': '15dec'}

In [37]:
p1.clear()

In [38]:
p1

{}

In [39]:
p2

{'class': 'python', 'date': '15dec'}

In [40]:
p2.popitem()

('date', '15dec')