In [4]:
t = (3,5,4,6,7,8)

In [2]:
range(10)

range(0, 10)

In [5]:
for i in range(len(t)):
    print(t[i])

3
5
4
6
7
8

In [8]:
for i in t:
    print(i)

3
4
5
6
7
8

In [9]:
range(20)

range(0, 20)

In [10]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
list(range(0,20,2.5))# it doesn't allow  the float

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
l =[3,4,5,1,11,12,6,7,9,10]
m =[]

for i in range(len(l)):
    m.append(i)

In [15]:
m

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
l =[3,4,5,1,11,12,6,7,9,10]
m =[]

for i in l:
    m.append(i)

In [17]:
m

[3, 4, 5, 1, 11, 12, 6, 7, 9, 10]

In [19]:
l =[3,4,5,1,11,12,6,7,9,10]
m =[]

for i in l:
    m.append (i+2)

In [20]:
m

[5, 6, 7, 3, 13, 14, 8, 9, 11, 12]

In [22]:
l =[3,4,5,1,11,12,6,7,9,10]
m =[]

for i in range(len(l)):
    m.append(l[i])

In [23]:
m

[3, 4, 5, 1, 11, 12, 6, 7, 9, 10]

In [27]:
a = [2,3,1,4,6,17,12,34,12,45]

m =[]

for i in a:
    if i%2==0:
        m.append(i)

m

In [28]:
m

[2, 4, 6, 12, 34, 12]

In [29]:
m*2

[2, 4, 6, 12, 34, 12, 2, 4, 6, 12, 34, 12]

In [31]:
m

[2, 4, 6, 12, 34, 12]

In [32]:
for i in m:
    print(i*2)

4
8
12
24
68
24

In [44]:
s = 10

if s > 10:
    print("if statement is true")
    
elif s == 10:
    print("elif is true")
    if type(s) == str:
        print("s is integer")
    elif (type(s)) == int:
        print("condition is true")
        
  
elif s ==77:
    print("condition is true")
    
else:
    print("else is true")

elif is true
condition is true

In [45]:
s = [5,6,7,8,23,9,10,15]

for i in s:
    print(i)
else:
    print("nothing is left in for condition")

5
6
7
8
23
9
10
15
nothing is left in for condition

In [46]:
d = 10
s = 0
i = 1

while i<= d:
    s = s+i
    i = i+1
print(s)

55

In [48]:
d = 10
s = 0
i = 1

while i<= d:
    s = s+i
    i = i+1
print(i, s)

11 55

In [50]:
for x in "shivam":
    if x == 'v':
        break
    print(x)
print("out of loop")

s
h
i
out of loop

In [51]:
for x in "shivam":
    if x == 'v':
        continue 
    print(x)
print("out of loop")

s
h
i
a
m
out of loop

In [52]:
for x in "shivam":
    if x == 'v':
        break
    print(x)
else:
    print("i am not able to iterate")
print("out of loop")

s
h
i
out of loop